@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');
*, html{
    margin: 0;
    padding: 0;
}
/* ScrollBar_____________________________ */
::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #202020;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    background-color: #000000;
  }

  .form iframe::-webkit-scrollbar {
    width: 1px !important;
  }

  .form::-webkit-scrollbar-thumb {
    background-color: #a51a1a;
    border-radius: 6px;
  }

  .form iframe::-webkit-scrollbar-track {
    background-color: #950f0f !important;
  }
  /* ______________________________________________ */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 109vh;
    overflow-x: hidden;
}
.landing {
    /* background-image:url(media/CollageBackgroundMXD.webp); */
    background-attachment: fixed;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 50% 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.landing img{
    width: 140px;
}
.form{
    /* background-color: black !important; */
    z-index: 1 !important;
    height: 110vh;
    margin-top: 20vh;
    overflow: hidden !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scrollbar-color: #721818 #e71212;
      scrollbar-width: thin;
}
.form iframe{
    height: 115vh;
  }
.dsRow {
    background-color: rgb(255, 255, 255);
    height: 9vh;
    padding: 0 40px;
    padding-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dsRow img{
    width: 60px;
}
.dsRow a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.dsfist{
    font-size: 12px;
    letter-spacing: 0px;
}
#cid_1{
    margin: 0 !important;
}
.cruxBtn{
    position: absolute;
    top: 90vh;
    left: calc(50% - 140px);
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    background-color: white;
    color: black;
    border-radius: 100px;
    padding: 5px 25px;
}

@media screen and (max-width: 800px) {

    .landing {
        /* background-image:url(media/CollageBackgroundMXD.webp); */
        background-attachment: fixed;
        background-repeat: repeat;
        background-size: 200%;
        background-position: 50% 0%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .form{
        width: 94vw;
        height: 103vh;
        overflow: scroll;
        margin-bottom: 8vh;
        margin-top: 10vh;
    }
    .form iframe{
        height: 110vh;
        margin-top: 0vh;
    }

    .dsRow{
        justify-content: center;
        align-items: center;
        height: 10vh;
    }
    .dsRow div:nth-child(2){
        margin-top: 0vh;
    }
    .dsRow div:nth-child(3){
        display: none;
    }
}
